div h1 {
    font-size: 80px;
    font-family: Impact, sans-serif;
}
div p {
    font-size: 35px;
    margin: 35px 0;
}
.container .row button {
    width: 250px;
    vertical-align: middle;
    background-color: blue;
    color: white;
    transition: all 0.3s ease;
    cursor: pointer;
}
.container .row button:hover {
    background-color: green;
}
.output p{
    margin: 35px 0;
}